[submodule "thirdparty/liquidfun"]
	path = thirdparty/liquidfun
	url = https://github.com/google/liquidfun
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest
[submodule "resources"]
	path = resources
	url = git@github.com:DerMinze/rw_resources.git
